.cart-container {
    min-height: 57vh;
    .cart-content{
        margin: 0 auto;
        padding: 20px;
        margin: 20px 80px;
    
        .cart-title {
        color: #124784;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 25px;
        }
    
        .cart-table {
            width: 100%;
            border-collapse: collapse;
            justify-content: center;
        
            th {
                background-color: #d32f2f;
                color: white;
                padding: 10px;
                text-align: left;
            }
        
            td {
                padding: 15px; 
                border-bottom: 1px solid #ddd;
                font-size: 16px; 
                             
            }
        
            .product-info {
                display: flex;
                align-items: center;
                gap: 15px;
        
                .product-image {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border: 1px solid #ddd;
                border-radius: 5px;
                }
        
                .product-name {
                font-weight: bold;
                font-size: 16px;
                color: #333;
                }
            }
            .price-control{
                font-size: 16px;
                font-weight: bold;
                color: #124784;
            }

            .price-total{
                font-size: 16px;
                font-weight: bold;
                color: #124784;
                align-items: center;
            }
        
            .quantity-control {
                display: flex;
                align-items: center;
                gap: 10px; // Tăng khoảng cách giữa nút và số lượng
        
                button {
                width: 35px;
                height: 35px;
                border: 1px solid #ddd;
                background-color: #f44336;
                color: white;
                font-size: 16px;
                cursor: pointer;
        
                &:hover {
                    background-color: #d32f2f;
                }
                }
        
                span {
                font-weight: bold;
                font-size: 18px;
                }
            }
            .cart-table td > div {
                display: flex;
                align-items: center;
                justify-content: center;
              }
        
            .remove-btn {
                background-color: #f44336;
                border: none;
                padding: 5px 10px;
                color: white;
                cursor: pointer;
        
                &:hover {
                background-color: #d32f2f;
                }
            }
        }
    
        .cart-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        
            .total-price {
                font-size: 18px;
                font-weight: bold;
            }
        
            .checkout-btn {
                background-color: #d32f2f;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
        
                &:hover {
                background-color: #b71c1c;
                }
            }
        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .modal-content {
            background: white;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            width: 300px;

            .modal-actions{
                button {
                    margin: 10px;
                    padding: 10px;
                    border: none;
                    background-color: #007bff;
                    color: white;
                    cursor: pointer;
                  }
                  
                  :hover {
                    background-color: #0056b3;
                  }
                  
                  :last-child {
                    background-color: #dc3545;
                  }
                  
                 :hover {
                    background-color: #c82333;
                  }
            }
          }
      }
      
      
      
      

}
  