.reset-password-container {
    .reset-password-content {
        min-height: 55vh;
        margin: 30px auto;
        border: 1px solid red;
        border-radius: 10px;
        width: 400px;
        padding: 20px;

        .title-resetpassword {
            color: #124784;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            text-align: center;
        }

        .centered-line{
            width :30%;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
        

        .form-group-reset{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .password-name{
                font-size: medium;
                font-weight: bold;
            }

            .password-group{
                position: relative;

                i{
                    position: absolute;
                    right: 1em;
                    top: 10px;
                    cursor: pointer;
                }

                input.input-password {
                    border-radius: 5px;
                    padding: 5px;
                    width: 360px;
                } 
            }

        }     
       

        .btn-reserpassword {
            padding: 10px;
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }

            &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }

        p {
            color: #dc3545;
            text-align: center;
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .reset-password-container {
        padding: 15px;
    }

    .reset-password-content {
        h2 {
            font-size: 18px;
        }

        .input-wrapper {
            input {
                font-size: 14px;
            }

            button {
                font-size: 14px;
            }
        }
    }
}
